version: '3.8'

services:
  db:
    image: postgres:15
    container_name: postgres_django
    environment:
      POSTGRES_DB: proyecto_iaw
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_django
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin

    ports:
      - "5050:80"   # pgAdmin accesible en http://localhost:5050
    depends_on:
      - db

volumes:
  postgres_data:
